{% extends 'todo/base.html' %}

{% block content %}
<h2>Create New Task</h2>
<form method="post" class="form-inline" style="margin-bottom: 20px;">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Add</button>
</form>

<ul class="list-group task-list">
  {% for object in tasks %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="task-content">
      
      {% if not object.finished %}
      <h3 >{{ object.title }}</h3>
        <a href="{% url 'todo:toggle-task-finished' object.id %}"><button type="button" class="btn btn-success" data-bs-toggle="tooltip" title="Mark the task as completed">✓</button></a>
      {% else %}
      <h3 style="text-decoration: line-through;">{{ object.title }}</h3>
        <a href="{% url 'todo:toggle-task-finished' object.id %}"><button type="button" class="btn btn-outline-danger" data-bs-toggle="tooltip" title="Unmark the task as completed">X</button></a>
      {% endif %}
      <a href="{% url 'todo:task-update' object.id %}"><button type="button" class="btn btn-primary" data-bs-toggle="tooltip" title="Update the task">Update</button></a>
      <a href="{% url 'todo:task-delete' object.id %}"><button type="button" class="btn btn-danger" data-bs-toggle="tooltip" title="Delete the task">Delete</button></a>
    </div>
  </li>
{% endfor %}
</ul>
{% endblock %}